<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VideoChatApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8183CBD6EFFA793FA309AC3C378354A8EA2A93C7</string>
				<key>dateExpires</key>
				<string>23/10/2020</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8183CBD6EFFA793FA309AC3C378354A8EA2A93C7</string>
						<key>dateExpires</key>
						<string>23/10/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8G67WWWAE</string>
						<key>name</key>
						<string>Ammar Ul Haq</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8183CBD6EFFA793FA309AC3C378354A8EA2A93C7</string>
						<key>dateExpires</key>
						<string>23/10/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8G67WWWAE</string>
						<key>name</key>
						<string>Ammar Ul Haq</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8183CBD6EFFA793FA309AC3C378354A8EA2A93C7</string>
						<key>dateExpires</key>
						<string>23/10/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8G67WWWAE</string>
						<key>name</key>
						<string>Ammar Ul Haq</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8183CBD6EFFA793FA309AC3C378354A8EA2A93C7</string>
						<key>dateExpires</key>
						<string>23/10/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8G67WWWAE</string>
						<key>name</key>
						<string>Ammar Ul Haq</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8183CBD6EFFA793FA309AC3C378354A8EA2A93C7</string>
						<key>dateExpires</key>
						<string>23/10/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8G67WWWAE</string>
						<key>name</key>
						<string>Ammar Ul Haq</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8183CBD6EFFA793FA309AC3C378354A8EA2A93C7</string>
						<key>dateExpires</key>
						<string>23/10/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FacebookLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8G67WWWAE</string>
						<key>name</key>
						<string>Ammar Ul Haq</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8183CBD6EFFA793FA309AC3C378354A8EA2A93C7</string>
						<key>dateExpires</key>
						<string>23/10/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8G67WWWAE</string>
						<key>name</key>
						<string>Ammar Ul Haq</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8183CBD6EFFA793FA309AC3C378354A8EA2A93C7</string>
						<key>dateExpires</key>
						<string>23/10/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8G67WWWAE</string>
						<key>name</key>
						<string>Ammar Ul Haq</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8183CBD6EFFA793FA309AC3C378354A8EA2A93C7</string>
						<key>dateExpires</key>
						<string>23/10/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8G67WWWAE</string>
						<key>name</key>
						<string>Ammar Ul Haq</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8183CBD6EFFA793FA309AC3C378354A8EA2A93C7</string>
						<key>dateExpires</key>
						<string>23/10/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>InstagramLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8G67WWWAE</string>
						<key>name</key>
						<string>Ammar Ul Haq</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8183CBD6EFFA793FA309AC3C378354A8EA2A93C7</string>
						<key>dateExpires</key>
						<string>23/10/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8G67WWWAE</string>
						<key>name</key>
						<string>Ammar Ul Haq</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8183CBD6EFFA793FA309AC3C378354A8EA2A93C7</string>
						<key>dateExpires</key>
						<string>23/10/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8G67WWWAE</string>
						<key>name</key>
						<string>Ammar Ul Haq</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8183CBD6EFFA793FA309AC3C378354A8EA2A93C7</string>
						<key>dateExpires</key>
						<string>23/10/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8G67WWWAE</string>
						<key>name</key>
						<string>Ammar Ul Haq</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8183CBD6EFFA793FA309AC3C378354A8EA2A93C7</string>
						<key>dateExpires</key>
						<string>23/10/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8G67WWWAE</string>
						<key>name</key>
						<string>Ammar Ul Haq</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8183CBD6EFFA793FA309AC3C378354A8EA2A93C7</string>
						<key>dateExpires</key>
						<string>23/10/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8G67WWWAE</string>
						<key>name</key>
						<string>Ammar Ul Haq</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>X8G67WWWAE.com.soundplyserve.soundplg</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>X8G67WWWAE</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array/>
			</dict>
			<key>name</key>
			<string>VideoChatApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>a940519e-71b2-47a1-a32e-788737d194e0</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.soundplyserve.soundplg</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>X8G67WWWAE</string>
				<key>name</key>
				<string>Ammar Ul Haq</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
